<ul class="site-head">
	<li id="events-featured" {{action "changeEventsModel" "featured"}} class="{{featuredEventsClasses}}">Featured</li>
	<li id="events" {{action "changeEventsModel" "events"}} class="{{eventsClasses}}">All</li>
</ul>