<ul class="site-head">
	<li id="headlineEvents" {{action "changeEventsModel" "headlineEvents"}} class="{{headlineEventsClasses}}">Featured</li>
	<li id="events" {{action "changeEventsModel" "events"}} class="{{eventsClasses}}">All</li>
</ul>
